@media only screen {
  .hero {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 55px 0 0;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .hero-content {
        display: flex;
        flex-direction: column;
        padding: 2em;
      }

      h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
      }

      h2 {
        font-weight: normal;
        font-size: 48px;
        letter-spacing: -0.05em;
        line-height: 46px;
        color: #000;
      }

      h3 {
        font-weight: normal;
        font-size: 24px;
        line-height: 18px;
        color: #000;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4e4e4e;
      }
    }

    .hero-down-arrow {
      justify-self: flex-end;
      margin: 1em 0;
    }
  }
} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .hero {
    .container {
      min-height: 800px;
      align-items: space-between;

      .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hero-header {
        font-family: din-condensed, sans-serif;
      }

      .hero-down-arrow {
        position: absolute;
        bottom: 50px;
      }

      h1 {
        font-weight: normal;
        font-size: 56px;
        letter-spacing: -0.05em;
        line-height: 46px;
      }

      p {
        max-width: 60%;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
