@media only screen {
  .grid-item {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    background-color: black;
    color: white;
    min-height: 344px;
    width: 100%;

    border: solid 1px #0c0c0c;
    transition: all 0.2s;

    &:hover {
      border: solid 1px #ff0000;
      background-color: #ff0000;
    }

    &:nth-of-type(4) {
      grid-column: 1 / span 2;
    }

    .grid-text {
      padding: 2em;
      text-transform: uppercase;

      .grid-subtitle {
        font-weight: normal;
        font-size: 16px;
        margin: 1em 0;
      }

      .grid-title {
        font-size: 36px;
        max-width: 50%;
        line-height: 36px;
      }
    }

    .grid-details {
      padding: 2em;

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .grid-item {
    box-sizing: border-box;
    min-height: 420px;
  }
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
