@media only screen {
  .navigation-bar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 997;

    width: 100%;
    height: 56px;

    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #fff;

    .trial-cta {
      display: none;
      background-color: #ff1d1d;
      color: white;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 2em;
    }

    .navigation-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 0, 0);
      color: white;
      height: 56px;
      z-index: 999; //Above everything - 998 on the fullscreen menu
      text-transform: uppercase;

      &.menu-open {
        background-color: black;
      }

      .nav-item {
        padding: 2em;
        cursor: pointer;
      }
    }

    .navigation-menu {
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;

      background-color: #ff1d1d;
      z-index: 998;
      padding: 55px 2em;

      &.menu-open {
        pointer-events: visibleFill;

        flex-direction: column;
      }

      .menu-content {
        display: flex;
        flex-direction: column;
        position: relative;
        color: white;
        height: 100%;

        p {
          line-height: 1.5rem;
        }

        .container {
          flex-direction: column;
          align-items: flex-start;
          height: 100%;
          justify-content: space-between;

          hgroup {
            text-transform: uppercase;
            h1 {
              font-size: 36px;
            }
            h3 {
              font-size: 16px;
            }
          }

          .menu-footer {
            justify-self: flex-end;
            margin-bottom: 2em;
          }
        }
      }
    }
  }
} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .navigation-bar {
    position: relative;
    .container {
      justify-content: flex-end;
    }

    .navigation-menu {
      bottom: inherit;
    }
  }

  .navigation-overlay {
    pointer-events: none;

    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.menu-open {
      pointer-events: inherit;
    }
  }
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
