@media only screen {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    height: 218px;

    .footer-items {
      display: flex;
      flex-direction: row;
      width: 188px;

      justify-content: space-between;

      font-weight: normal;
      line-height: 36px;
      text-transform: uppercase;
    }
  }
} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
