@media only screen {
  .content-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      position: relative;
      flex-direction: column;

      .grid-items {
        width: 100%;

      }
    }
    .swirl-image {
      display: none;
      z-index: -99;
      width: 800px;
      top: -150px;
      right: -150px;
    }
  }
} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .content-grid {
    .container {
      width: 100%;
      h3 {
        display: flex;
        align-self: flex-start;
      }
    }
  }

  .swirl-image {
    display: flex;
    z-index: -99;
    width: 1000px;
    top: -150px;
    right: -150px;
  }
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .content-grid {
    .container {
      position: relative;

      .grid-items {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        flex-direction: row;
        column-gap: 0;
        row-gap: 0;
        margin: 0 0 3em 0;
      }

      .swirl-image {
        display: flex;
        z-index: -1;
        width: 1000px;
        top: 450px;
        right: -400px;
      }
    }
  }
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
