$accent-light: #ffd30a;
$accent-dark: #261330;
$bg-color: #000;
$text-color: #fff;

$bg-color: #fff;
$text-color:#00010f;

html {
  font-display: swap;
}

.wf-loading {
  visibility: hidden;
}


.highlight {
  font-size: 1.25em;
  font-weight: 700;
  -moz-box-shadow: inset 0 -0.35em 0 $accent-light;
  -webkit-box-shadow: inset 0 -0.35em 0 $accent-light;
  box-shadow: inset 0 -0.35em 0 $accent-light;
}

body {
  background-color: $bg-color;
  color: $text-color;
  padding: 0;
  margin: 0;

  font-family: ITC-Avant-Garde-Gothic-Pro, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: medium;
  line-height: 1.8em;
}



h1 {
  line-height: 0.9em;
}

h2 {
  font-size: 24px;
  line-height: 1.3em;
}

h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0 0 3rem 0;
}

.list-item {
  margin-bottom: 1em;
  font-weight: 700;
}

.align-fe {
  display: flex;
  align-items: flex-end;
}

.fd-column {
  display: flex;
  flex-direction: column;
}


@media only screen {
  .container {
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
  }

  

} /* Define mobile styles - Mobile First */
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
  .list-item {
    text-align: right;
  
  }

  section {
    margin-bottom: 20vmin;
  }
} /* min-width 641px, medium screens */
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
} /* min-width 1025px, large screens */
/* XLarge screens */
@media only screen and (min-width: 90.063em) {
} /* min-width 1441px, xlarge screens */
/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
} /* min-width 1921px, xlarge screens */
